$blue1: #002a80;
$blue2: #0066cc;
$blue3: #66abff;
$blueLight: #e7f2ff;
$yellow: #ffee00;

$success: #00cc08;
$successLight: #edffe7;

$error: #cc0000;
$errorLight: #ffe7e7;

$white: #ffffff;
$black: #000000;

:export {
  blue1: $blue1;
  blue2: $blue2;
  blue3: $blue3;
  blueLight: $blueLight;
  yellow: $yellow;
  success: $success;
  successLight: $successLight;
  error: $error;
  errorLight: $errorLight;
  white: $white;
  black: $black;
}
