$success: #00cc08;
$successLight: #edffe7;

$error: #cc0000;
$errorLight: #ffe7e7;

$white: #ffffff;
$black: #0e0e0e;

$primary: #0073ff;
$primaryLight: #2286ff;
$secondary: #002a80;
$secondaryLight: #003fbf;
$tertiary: #e7f2ff;
$placeholder: #c9d7e9;

:export {
  success: $success;
  successLight: $successLight;
  error: $error;
  errorLight: $errorLight;
  white: $white;
  black: $black;
  primary: $primary;
  primaryLight: $primaryLight;
  secondary: $secondary;
  secondaryLight: $secondaryLight;
  tertiary: $tertiary;
  placeholder: $placeholder;
}
