$primary: #243c7f;
$primaryLight: #1cb4cd;

$success: #247f3d;
$successLight: #4acd1c;

$error: #7f2424;
$errorLight: #cd1c1c;

$white: #ffffff;
$greyLight: #f6f4f5;
$black: #000000;

:export {
  primary: $primary;
  primaryLight: $primaryLight;
  success: $success;
  successLight: $successLight;
  error: $error;
  errorLight: $errorLight;
  white: $white;
  greyLight: $greyLight;
  black: $black;
}
