@import '/styles/variables.scss';

.Footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 80px 20px;
  background-color: $primary;
}

.Footer-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.Footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.Footer-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.Footer-text {
  font-size: 1.6rem;
  color: $white;
}

.Footer-link {
  display: flex;
  font-size: 1.6rem;
  line-height: 1.3;
  text-decoration: none;
  text-align: center;
  color: $white;

  transition: color 0.2s ease;
}

.Footer-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.Footer-copyright {
  color: $secondaryLight;
  font-size: 1.6rem;
  line-height: 1.3;
  text-align: center;
}

// modifiers

.Footer-link:hover {
  color: $secondary;
}
