@import '/styles/variables.scss';
@import '/styles/mq.scss';

.ToggleGroupItem {
  display: flex;
  width: fit-content;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  background-color: $tertiary;
  color: $primary;
  cursor: pointer;
  transition: 0.3s background-color ease;

  @include mobileL {
    width: 100%;
    justify-content: center;
  }
}

.ToggleGroupItem:not([data-state='on']):hover {
  margin: 4px;
  border-radius: 2px;
  padding: 8px 20px;
  background-color: $white;

  @include mobileL {
    width: calc(100% - 8px);
  }
}

.ToggleGroupItem[data-state='on'] {
  border-radius: 5px;
  background-color: $primary;
  color: $white;
}
