@import '/styles/variables.scss';
@import '/styles/mq.scss';

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 100px 0 80px 0;
  width: 100%;
}

.Title-line {
  width: 30px;
  height: 8px;
  border-radius: 27px;
  background-color: $primary;
}

.Title-content {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 100%;
  color: $secondary;
}
