@import '/styles/variables.scss';
@import '/styles/mq.scss';

.Skills {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 20px;
  background-color: $tertiary;
  @include laptop {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
  }
}

.Skills-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 20px;
  @include laptop {
    margin: initial;
  }
}

.Skills-title {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  color: $primary;
}

.Skills-text {
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: $black;
}
