@import '/styles/variables.scss';

.Button {
  padding: 12px 20px;
  border: 2px solid transparent;
  border-radius: 30px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  background-color: $primary;
  color: $white;
}

.Button--secondary {
  border: 2px solid $secondary;
  background-color: $secondary;
  color: $white;
}

.Button--tertiary {
  border: 2px solid $primary;
  background-color: $white;
  color: $primary;
}

// modifiers
.Button:hover {
  background-color: $primaryLight;
  -webkit-box-shadow: 0px 5px 15px -14px #000000;
  box-shadow: 0px 5px 15px -14px #000000;
}

.Button--secondary:hover {
  border-color: $secondaryLight;
  background-color: $secondaryLight;
}

.Button--tertiary:hover {
  background-color: $tertiary;
}
